@media (min-width:992px) {
    .nav-tab-list {
        display: flex;
    }
    .header-menu {
        display: none;
    }
}
@media (max-width:991px) {
    .box-search {
        display: none;
    }
}

@media (max-width:991px) and (min-width:768px) {}

@media (max-width:767px) and (min-width:576px) {}

@media (max-width:575px) {}